@use 'abstracts' as *;

#makers {
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
  overflow: hidden;
  .product-svg {
    position: relative;
    left: 5%;
    @include animation;
    stroke: $primary-dark;
    fill: transparent;
    #products-svg {
      font-size: clamp(3rem, 10vw, 13rem);
      letter-spacing: 0.2rem;
    }
  }
  .maker-wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: auto;
    padding: 0 20px;

    .design {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      grid-gap: 20px;
      grid-column: 1/4;
      position: relative;

      @include transition;
      .designers {
        overflow: hidden;
        height: 300px;
        position: relative;
        transform: translate(20%, 20%);
        @include transition;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .designer-info {
          position: absolute;
          width: 100%;
          height: 100%;
          @include flex;
          justify-content: center;
          @include flex-align(center);
          flex-direction: column;
          top: 0;
          right: 0;
          background-color: $primary-dark;
          clip-path: ellipse(60px 60px at 95% -1%);
          padding: 20px;
          @include transition;
          h3 {
            font-size: 1.5rem;
            color: $primary-light;
          }
          .i-info {
            color: $primary-medium;
            margin: 10px 0;
          }
          a {
            font-size: 1.2rem;
            color: $primary-light;
            margin: 0 10px;
          }
          &:hover {
            clip-path: ellipse(150% 150% at 95% -1%);
          }
          .info-btn {
            position: absolute;
            right: 20px;
            top: 10px;
            a {
              font-size: 1.2rem;
            }
          }
        }
      }
      .designer-1 {
        position: relative;
        left: 50%;
        top: 50%;
      }

      .designer-2 {
        position: relative;
        left: -50%;
        top: 50%;
      }

      .designer-3 {
        position: relative;
        left: 50%;
        top: -50%;
      }

      .designer-4 {
        position: relative;
        left: -50%;
        top: -50%;
      }

      .designer-active {
        position: relative;
        left: 0%;
        top: 0%;
      }
    }
    .produt-head {
      @include flex;
      justify-content: center;
      @include flex-align(center);
      .product-svg {
        position: relative;
        left: 5%;
        animation: design 10s ease infinite;
        stroke: $primary-dark;
        fill: transparent;
        #products-svg {
          font-size: clamp(3rem, 10vw, 13rem);
          letter-spacing: 0.2rem;
        }
      }
    }
  }
  @include mq(medium) {
    .maker-wrapper {
      .design {
        grid-template-columns: 1fr !important;
        .designers {
          min-height: 200px;
        }
      }
    }
  }
}

