@use 'abstracts' as *;
@use 'header';
@use 'products';
@use 'makers';
@use 'testimonial';

html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $primary-light;
}
svg{
  width: 100%;
  height: clamp(200px, 20vw, 250px);
  .product-svg{
    position: relative;
    left: 5%;
    animation: product 10s ease infinite;
    stroke: $primary-dark;
    fill: transparent;
    #products-svg{
      font-size: clamp(3rem, 10vw, 13rem);
      letter-spacing: .2rem;
    }
  }
}
@keyframes product {
  0%{
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    fill: transparent;
    left: 5%;
  }
  50%{
    left: 30%;
  }
  60%{
    left: 30%;
    stroke-dasharray: 700;
    stroke-dashoffset: 50;
    fill: transparent;
  }
  100%{
    left: 5%;
    fill: $primary-dark;
  }
}


body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}