@use 'breakpoints' as *;
@use 'colors' as  *;

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media only screen and (max-width: $size) {
    @content;
  }
}
@mixin transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-align($value) {
  -webkit-box-align: $value;
  -moz-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin grid {
  display: -ms-grid;
  display: grid;
}
@mixin grid-temp-column($size, $width) {
  grid-template-columns: repeat($size, $width);
  -ms-grid-columns: repeat($size, $width);
}
@mixin grid-temp-row($size, $width) {
  grid-template-rows: repeat($size, $width);
  -ms-grid-row: repeat($size, $width);
}

@mixin animation {
  animation: slide 10s ease infinite;
}
@keyframes slide {
  0% {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    fill: transparent;
    left: 0%;
  }
  50% {
    left: 30%;
  }
  60% {
    left: 30%;
    stroke-dasharray: 700;
    stroke-dashoffset: 50;
    fill: transparent;
  }
  100% {
    left: 0%;
    fill: $primary-dark;
  }
}

.btn {
  padding: 0.5rem 1rem;
  height: 40px;
  background: $primary-light;
  border: 1px solid $primary-dark;
  color: $primary-dark;
  @include transition;
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-medium, 0.3);
    clip-path: ellipse(0% 0% at 0% 0%);
    @include transition;
  }
  &:hover {
    color: $primary-dark;
    &::after {
      clip-path: ellipse(150% 150% at 0% 0%);
    }
  }
}
